@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/*
TODO убрать как только утвердят цвета
 */
/*:root {*/
/*    --main-color: #375F28;*/
/*    --bs-link-color: #375F28;*/
/*    --bs-link-hover-color: #50913a;*/
/*}*/

:root {
    --main-color: #055e09;
    --main-color-bg: #83d8308f;
    --bs-link-color: #055e09;
    --bs-link-hover-color: #055e09c4;
}

.accordion {
    --bs-accordion-btn-color: var(--main-color);
    --bs-accordion-btn-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23055e09'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23055e09'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(54, 93, 41, 0.25);
    --bs-accordion-active-color: var(--main-color);
    --bs-accordion-active-bg: var(--main-color-bg);
}

.block h1, h2, h3, h4, h5, h6 {
    text-decoration: none !important;
    color: var(--main-color) !important;
}

hr {
    color: var(--main-color) !important;
}

.accordion-button::after {
    background-size: auto !important;
}

.alert-info {
    --bs-alert-color: var(--main-color) !important;
    --bs-alert-bg: var(--main-color-bg);
    --bs-alert-border-color: var(--main-color-bg);
}

.link-secondary {
    color: var(--bs-link-color) !important;
}

.link-secondary:focus,
.link-secondary:hover,
.link-secondary:hover > a > h4 {
    color: var(--bs-link-hover-color) !important
}

body {
    background-color: #f2f2f2 !important;
    font-family: "Roboto", sans-serif !important;
}

header object {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.title-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.main-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
}

.main-content .block {
    background-color: #fff;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 1em;
}

/** Изменение стилей WP - расстояния между колонками */
.wp-block-columns.is-layout-flex {
    gap: 1em;!important;
}

.main-content .block-news {
    padding: 0;
}

.main-content .block-news .carousel-inner {
    border-radius: 10px;
}

.block .embed-responsive-16by9 {
    padding: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.block-search {
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.h-list-style li {
    /* padding-left: 30px; */
    padding: 5px 0 5px 30px;
    margin: 0;
    list-style: none !important;
    background-image: url("../img/site/h-list-style-1-new.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    transition: 1s;
}

.h-list-style li a {
    text-decoration: none !important;
    color: #0f5132 !important;
}

.h-list-style li:hover {
    /*transition: linear 1s;*/
    padding-left: 40px;
    margin: 0;
    list-style: none;
    background-image: url("../img/site/h-list-style-2-new.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.h-list-style .widget_nav_menu li.current-menu-item {
    padding-left: 40px;
    margin: 0;
    list-style: none;
    background-image: url("../img/site/h-list-style-2-new.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.h-list-style ul {
    margin: 0 0 10px 0;
    padding: 0;
}

header object svg {
    width: 50vw;
}

/*.widget-title {*/
/*    font-size: 1.75rem;*/
/*    text-align: center;*/
/*}*/

/*.card-img {*/
/*    max-height: 300px;*/
/*}*/

.card-custom-img {
    background-image: url("../img/site/bg-new.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
    max-height: 350px;
}

/*для красивых карточек*/
.card-cover {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.p-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/site/berezka-main-new.svg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;

}

.layer img {
    height: 10vh;
}

.p-slider ul li {
    backface-visibility: hidden;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
}


.layer_1 img {
    height: 4vh;
    position: relative;
    left: 28vw;
    top: 14vh;
}

.layer_2 img {
    height: 8vh;
    position: relative;
    left: 62vw;
    top: 43vh;
}

.layer_3 img {
    height: 3vh;
    position: relative;
    left: 32vw;
    top: 28vh;
}

.layer_4 img {
    height: 4vh;
    position: relative;
    left: 27vw;
    top: 59vh;
}

.layer_5 img {
    height: 5vh;
    position: relative;
    left: 69vw;
    top: 32vh;
}

.layer_6 img {
    height: 5vh;
    position: relative;
    left: 32vw;
    top: 44vh;
}

.layer_7 img {
    height: 5vh;
    position: relative;
    left: 65vw;
    top: 19vh;
}

.layer_8 img {
    height: 6vh;
    position: relative;
    left: 71vw;
    top: 10vh;
}

.layer_9 h2 {
    position: relative;
    top: 25vh;
    margin: 0 auto;
}

.layer_9 {
    width: 100%;
    display: flex;

}

.layer_10 h1 {
    position: relative;
    top: 45vh;
    margin: 0 auto;
    font-size: 3em !important;
}

.layer_10 {
    width: 100%;
    display: flex;
    justify-content: end;
}

#scene {
    margin: 0 0 0 0;
}

@media (max-width: 1024px) {
    .layer_1 img,
    .layer_2 img,
    .layer_3 img,
    .layer_4 img,
    .layer_5 img,
    .layer_6 img,
    .layer_7 img,
    .layer_8 img {
        display: none;
    }

    .layer_9 h2 {
        top: 10vh;
    }

    .layer_10 h1 {
        top: 35vh;
        font-size: 1.5em !important;
    }

    .card-custom-img {
        background-position: left center;
        min-height: 250px;
        max-height: 300px;
    }

}

/* Стили для изображений записей категории */
.img-category-post {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    height: 250px;
    width: 100%;
}

.main-header {
    font-family: 'Russo One', sans-serif;
!important;
    text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.55);
}

/* Стили для таблиц Gutenberg */
.wp-block-table table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0.5em;
    border: 2px solid #eaeaea;
!important;
}

.wp-block-table td, .wp-block-table th {
    border: 0;
!important;
}

.wp-block-table th:not(:last-child),
.wp-block-table td:not(:last-child) {
    border-right: 2px solid #eaeaea;
!important;
}

.wp-block-table table > thead > tr:not(:last-child) > th,
.wp-block-table table > thead > tr:not(:last-child) > td,
.wp-block-table table > tbody > tr:not(:last-child) > th,
.wp-block-table table > tbody > tr:not(:last-child) > td,
.wp-block-table table > tfoot > tr:not(:last-child) > th,
.wp-block-table table > tfoot > tr:not(:last-child) > td,
.wp-block-table table > tr:not(:last-child) > td,
.wp-block-table table > tr:not(:last-child) > th,
.wp-block-table table > thead:not(:last-child),
.wp-block-table table > tbody:not(:last-child),
.wp-block-table table > tfoot:not(:last-child) {
    border-bottom: 2px solid #eaeaea;
!important;
}

/* Стили для заголовков Gutenberg */
.wp-block-heading,
.wp-block-heading a {
    text-decoration: none;
    color: #6c757d;
}

/* Стили для таблицы Supsystic */
.dataTables_wrapper table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0.5em;
    border: 2px solid #eaeaea;
!important;
}

.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable thead td {
    border-bottom: 1px solid #eaeaea;
!important;
}

.dataTables_wrapper table.dataTable tfoot th,
.dataTables_wrapper table.dataTable tfoot td {
    border-top: 1px solid #eaeaea;
!important;
}

.dataTables_wrapper table.dataTable.cell-border tbody tr th:first-child,
.dataTables_wrapper table.dataTable.cell-border tbody tr td:first-child {
    border-left: none;
!important;
}

.dataTables_wrapper table.dataTable.cell-border tbody tr,
.dataTables_wrapper table.dataTable.cell-border tbody th:last-child,
.dataTables_wrapper table.dataTable.cell-border tbody td:last-child {
    border-right: none;
!important;
}

table.border {
    border: none;
!important;
}

/** Staffs style */
.gradient-custom {
    background: var(--main-color);
    /*background-image: url();*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
